PORT=3008
NUXT_PUBLIC_SITE_URL="https://latelierdegz.com"
SUPABASE_URL=https://auunqalfgcbafbafeija.supabase.co
SUPABASE_KEY=sb_publishable_Y5j30MNmc8yss9aAnow78w_5FThKzz2
SUPABASE_SECRET_KEY=sb_secret_
S3_API=https://.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
NUXT_OPENAI_API_KEY=
